.git
.mypy_cache
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo

.DS_Store
.env
.creds*
*.log

*.csv
*.csv.gz
csv/
runs/
queries/

app/instance/
app/frontend/node_modules/
app/frontend/dist/
node_modules/

admin/__pycache__/
app/__pycache__/
app/tests/__pycache__/
scripts/__pycache__/
