.video-form {
    display: flex;
    gap: 0.5em;
}

.nowrap {
    white-space: nowrap;
}

.video-input {
    width: 250px;
}

.save-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}