.brackets-content {
  margin-top: 24px;
}

.bracket-list {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.bracket-list select {
  width: 100%;
}

.registrations {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.registrations-get {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bracket-loader {
  position: absolute;
  top: 120px;
  right: 10px;
}

.category-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.bracket-table {
  margin-top: 24px;
  margin-bottom: 24px;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.column-padding {
  padding-top: 4px !important;
  padding-bottom: 0 !important;
}

.has-cursor-pointer {
  cursor: pointer;
}

.bracket-notification {
  padding: 8px;
}

.bracket-notification ul {
  margin: 0;
  margin-left: 1em;
}