.bracket-tree {
  display: inline-flex;
  flex-direction: row;
  padding-top: 24px;
  gap: 24px;
  position: relative;
  align-items: center;
}

.bracket-level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.bracket-tree-match {
  border: 1px solid #ccc;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}

.bracket-tree-match-description {
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.bracket-tree-match-ordinal {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: right !important;
  width: 36px;
}

.bracket-tree-match-competitor-name, .bracket-tree-match-info {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.bracket-tree-match-competitor-name-team {
  font-size: 10px;
}

.bracket-tree-match-competitor-badge {
  vertical-align: middle;
}

.bracket-tree-match-competitors {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.bracket-tree-match-competitors tr + tr {
  border-top: 1px solid #ccc;
}

.bracket-tree-match-competitors tr:first-child {
  background-color: #baedff;
}

.bracket-tree-match-competitors tr:last-child {
  background-color: #ffffff;
}

.bracket-tree-match-competitor-name-badge-name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.bracket-tree-match-competitor-name-name {
  position: relative;
  height: 24px;
}

.bracket-tree-match-bye {
  position: absolute;
  top: 8px;
}

.bracket-tree-match-winner .bracket-tree-match-competitor-name-name {
  font-weight: bold;
}

.bracket-tree-match-rating, .bracket-tree-match-expected {
  font-weight: normal;
}

.bracket-tree-handicapped-rating {
  font-weight: 600;
}

.strike-through {
  text-decoration: line-through;
}

.bracket-tree-match-container {
  padding-right: 48px;
  height: 95px;
}

.bracket-tree-match-calc {
  position: absolute;
  top: 32px;
  left: calc(100% + 8px);
  cursor: pointer;
}

.bracket-tree-divider {
  background-color: #fff;
  border: none;
  border-left: 3px dashed #ccc;
  position: absolute;
  margin: 0;
  padding: 0;
  top: -500px;
  width: 0;
  height: calc(100% + 1000px);
  left: -25px;
}

.bracket-level-divider {
  background-color: #fff;
  border: none;
  border-top: 3px dashed #ccc;
  position: absolute;
  margin: 0;
  padding: 0;
  top: -31px;
  width: calc(100% + 1200px);
  height: 0;
  left: 0;
}

.bracket-tree-border {
  overflow: auto;
  width: 100%;
  height: 640px;
  border: 1px solid #ccc;
  padding: 12px;
}

.bracket-tree-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 12px;
}


.bracket-tree-slider-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .bracket-tree-slider-controls {
    width: 100%;
  } 
}

.bracket-tree-slider-controls input {
  flex-grow: 1;
  cursor: pointer;
}

.instagram-profile-tree img {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  margin-right: 2px;
  vertical-align: middle;
}