.box.accordion-box {
  padding: 12px;
  padding-bottom: 0;
}

.box.accordion-box.open {
  padding-bottom: 12px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-bottom: 10px;
}

.accordion-icon {
  cursor: pointer;
}

.accordion-section {
  margin-bottom: 10px;
}

.section-title {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.section-title-bold {
  font-weight: var(--bulma-strong-weight);
  color: var(--bulma-strong-color);
}

.section-divider {
  border: 0;
  height: 1px;
  background-color: #dbdbdb;
  margin: 1px;
  margin-bottom: 8px;
}

.checkbox-filters {
  align-items: center;
  margin-bottom: 4px;
}
.checkbox-filters:last-child {
  margin-bottom: 0;
}

.checkbox-filters label.filter-group-label {
  font-weight: 500;
  padding-bottom: 2px;
}

.checkbox-filter input {
  margin-right: 5px;
}

.date-range, .rating-range {
  display: flex;
  align-items: center;
}

.date-input, .rating-input {
  width: 120px;
}

@media (prefers-color-scheme: dark) {
  input.date-input {
    color-scheme: dark;
  }
}