.pagination {
  justify-content: space-between;
}

.pagination.is-centered .pagination-previous {
  order: 1;
  max-width: 110px;
}

.pagination.is-centered .pagination-next {
  order: 3;
  max-width: 110px;
}

.pagination.is-centered .pagination-list {
  order: 2;
}