td.empty-row {
  padding: 20px;
}

.table-container table.db-table th,
.table-container table.db-table td {
    white-space: nowrap;
}

div.card.db-row-card {
  margin-bottom: 10px;
}

.db-row-card div.column {
  white-space: nowrap;
}

.db-row-card div.date-box {
  position: absolute;
  right: 10px;
  top: 0px;
}