td.empty-row {
  padding: 20px;
}

.table-container table.db-table th,
.table-container table.db-table td {
    white-space: nowrap;
}

div.card.db-row-card {
  margin-bottom: 10px;
}

.db-row-card div.column {
  white-space: nowrap;
  padding: 4px 10px;
}

.db-row-card .card-content {
  overflow-x: auto;
}

.db-row-card div.date-box {
  position: absolute;
  right: 10px;
  top: -4px;
}

.is-historical {
  background-color: #ffbd4443 !important;
}

div.notification.is-historical {
  padding: 10px 16px;
}

.table-loader {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.fw-600 {
  font-weight: 600;
}

.division-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}