.table-margin {
  margin-bottom: 20px;
}

.new-marker-td {
  padding-top: 6px !important;
}

.new-marker {
  color: white;
  background-color: hsl(var(--bulma-success-h), var(--bulma-success-s), var(--bulma-success-l));
  padding: 2px;
  font-size: 10px;
  margin-top: -2px;
}


.position-relative {
  position: relative;
}

span.clear-filter {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 12px;
}

.immature {
  opacity: 0.6;
}

.very-immature {
  opacity: 0.3;
}

.very-immature-bullet {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.immature-bullet {
  display: inline-block;
  background-color: rgb(240, 240, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.plain-bullet {
  display: inline-block;
  background-color: hsl(var(--bulma-light-h), var(--bulma-light-s), var(--bulma-light-l));
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

/* mobile table */
@media (max-width: 1024px) {

  /* Reorder columns on mobile */
  /* Name */
  .table-margin tbody td:nth-child(3) {
    order: 1;
  }

  /* Rank */
  .table-margin tbody td:nth-child(1) {
    order: 2;
  }

  /* Rank Change */
  .table-margin tbody td:nth-child(2) {
    order: 3;
  }

  /* Rating */
  .table-margin tbody td:nth-child(4) {
    order: 4;
  }

  /* Rating Change */
  .table-margin tbody td:nth-child(5) {
    order: 5;
  }

  /* Status */
  .table-margin tbody td[data-label="Status"] {
    order: 6;
    content: "" !important;
    position: absolute;
    right: 10px;
    top: 0;
  }

  .table-margin tbody td:before {
    content: attr(data-label) ": ";
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
  }

  /* Status */
  .table-margin tbody td[data-label="Status"]:before {
    content: "" !important;
  }

  .table-margin tbody td.has-text-right {
    text-align: left;
  }

  .table-margin tbody td.has-text-centered {
    text-align: left;
  }
}