td.empty-row {
  padding: 20px;
}

.table-margin {
  margin-bottom: 20px;
}

.new-marker-td {
  padding-top: 6px !important;
}

.new-marker {
  color: white;
  background-color: hsl(var(--bulma-success-h),var(--bulma-success-s),var(--bulma-success-l));
  padding: 2px;
  font-size: 10px;
  margin-top: -2px;
}

.elo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elo-sub-container {
  width: 100%;
  max-width: 800px;
}

.position-relative {
  position: relative;
}

span.clear-filter {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 12px;
}

.immature {
  opacity: 0.6;
}

.very-immature {
  opacity: 0.3;
}

.very-immature-bullet {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.immature-bullet {
  display: inline-block;
  background-color: rgb(240, 240, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.plain-bullet {
  display: inline-block;
  background-color: hsl(var(--bulma-light-h),var(--bulma-light-s),var(--bulma-light-l));
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.elo-registration-icon {
  color: #00bbff;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
}

.elo-registration-two-weeks {
  color: #ffbb00;
}

.elo-registration-one-week {
  color: #ff0000;
}

.cell-no-padding {
  padding: 0 !important;
  vertical-align: middle !important;
}

.elo-bullet {
  margin-left: 4px;
}

nav.pagination.pagination-margin {
  max-width: 100%;
}

.elo-registration-tooltip {
  text-align: left;
}

.elo-registration-tooltip li {
  margin-top: 10px;
}

.instagram-profile img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
}