
.instagram-profile img {
  width: 16px;
  height: 16px;
  max-width: 16px;
  min-width: 16px;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 2px;
}

.name-subinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.name-subinfo-top-padding {
  padding-top: 3px;
}

.country-flag {
  line-height: 15px;
  vertical-align: middle;
  border: 1px solid #ccc;
  width: 19px;
  height: 15px;
  background-size: 100% 100%;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}

.country-flag-tree {
  margin-left: 2px;
}