.lang-switch {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.lang-icon {
  width: 32px;
  height: auto;
  aspect-ratio: 16/10;
  object-fit: contain;
}

.desktop-lang-switch {
  display: none;
}

.mobile-lang-switch {
  padding: .5rem .75rem;
}

@media screen and (max-width: 1154px) {
  .custom-navbar-brand {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1155px) {
  .desktop-lang-switch {
    display: inline-flex;
    margin-left: 0;
    margin-right: 16px;
  }
  .navbar-end {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

h1.navbar-item {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

@media screen and (min-width: 1155px) {
  h1.navbar-item {
    margin-right: 80px;
  }
}

@media screen and (max-width: 768px) {
  h1.navbar-item {
    font-size: 1.3em;
  }
  h1.navbar-item.pt {
    font-size: 1em;
  }
}

.navbar-item.logo {
  padding: 0;
  padding-left: 8px;
}

.navbar-item.logo img {
  max-height: 52px;
}

a.navbar-item.is-active {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
}

@media screen and (min-width: 1155px) {
  .navbar-link.is-active:not(:focus):not(:hover), a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #2196f3;
  }
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1154px) {
  .mobile-only {
    display: block;
  }
}

/* Override Bulma's 1024px navbar desktop breakpoint and keep collapsed mode until 1155px. */
@media screen and (max-width: 1154px) {
  .navbar-burger {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.is-active {
    display: block;
  }
}
