h1.navbar-item {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

@media screen and (min-width: 1024px) {
  h1.navbar-item {
    margin-right: 80px;
  }
}

.navbar-item.logo {
  padding: 0;
}

.navbar-item.logo img {
  max-height: 52px;
}

@media (prefers-color-scheme: dark) {
  .has-background-link-80 {
    color: #fff;
  }
}