h1.navbar-item {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

@media screen and (min-width: 1024px) {
  h1.navbar-item {
    margin-right: 80px;
  }
}

.navbar-item.logo {
  padding: 0;
}

.navbar-item.logo img {
  max-height: 52px;
}

a.navbar-item.is-active {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .navbar-link.is-active:not(:focus):not(:hover), a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #2196f3;
  }
}