{% extends "base.html" %}
{% block title %}Edit Live Streams{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='event_livestreams.css') }}">
<div class="container mt-6">
    <h1 class="title is-4 has-text-centered">Edit Live Streams for {{ event_name }}</h1>
    {% if error %}
    <div class="notification is-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Mat</th>
                    <th>URL</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Drift Factor</th>
                    <th>Hide All?</th>
                    <th class="has-text-centered">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stream in streams %}
                <tr>
                    <form method="post">
                        <input type="hidden" name="stream_id" value="{{ stream.id }}">
                        <td><input class="input num-input" type="number" name="day_number" value="{{ stream.day_number }}" min="1" required></td>
                        <td><input class="input num-input" type="number" name="mat_number" value="{{ stream.mat_number }}" min="1" required></td>
                        <td><input class="input url-input" type="url" name="link" value="{{ stream.link }}" required></td>
                        <td><input class="input num-input-seconds" name="start_time" value="{{ '%02d:%02d:%02d' | format(stream.start_hour, stream.start_minute, stream.start_seconds) }}" required></td>
                        <td><input class="input num-input" name="end_time" value="{{ '%02d:%02d' | format(stream.end_hour, stream.end_minute) }}" required></td>
                        <td><input class="input num-input-seconds" type="number" step="0.0001" min="0.0001" max="1.2000" name="drift_factor" value="{{ stream.drift_factor }}" required></td>
                        <td class="has-text-centered">
                            <div class="field">
                                <input type="checkbox" name="hide_all" value="true" {% if stream.hide_all %}checked{% endif %}>
                            </div>
                        <td>
                            <div class="action-buttons">
                                <button class="button is-success is-small" type="submit" name="action" value="edit">Save</button>
                                <button class="button is-danger is-small" type="submit" name="action" value="delete">Delete</button>
                            </div>
                        </td>
                    </form>
                </tr>
                {% endfor %}
                <tr>
                    <form method="post">
                        <input type="hidden" name="action" value="add">
                        <td><input class="input num-input" type="number" name="day_number" min="1" required></td>
                        <td><input class="input num-input" type="number" name="mat_number" min="1" required></td>
                        <td><input class="input url-input" type="url" name="link" required></td>
                        <td><input class="input num-input-seconds" name="start_time" value="09:29:00" required></td>
                        <td><input class="input num-input" name="end_time" value="23:00" required></td>
                        <td><input class="input num-input-seconds" type="number" step="0.0001" min="0.0001" max="1.2000" name="drift_factor" value="1.000" required></td>
                        <td class="has-text-centered">
                            <div class="field">
                                <input type="checkbox" name="hide_all" value="true">
                            </div>
                        </td>
                        <td>
                            <div class="action-buttons">
                                <button class="button is-link is-small" type="submit">Add</button>
                            </div>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </form>
    <form method="post">
        <input type="hidden" name="action" value="update_flo_tag">
        <div class="field has-addons">
            <div class="control">
                <input class="input flo-tag-input" type="text" name="flo_tag" placeholder="Flo Event Tag eg 13487722-2025-world-jiu-jitsu-ibjjf-championship" value="{{ flo_tag or '' }}">
            </div>
            <div class="control">
                <button class="button is-link" type="submit">Save</button>
            </div>
        </div>
    </form>
    <a class="button is-link is-light mt-4" href="{{ url_for('index') }}">Back to Dashboard</a>
</div>
{% endblock %}
